<!DOCTYPE suite SYSTEM "testng.dtd">
<!-- testing using spicific methode-->
<suite name="MyTestSuite">
  <test name="MyTest">
    <classes>
      <class name="com.linkedIn.tests.SearchTest">
        <methods>
          <include name="testSearch"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>





